body{
  width:100%;
}

.game-wrapper{
  width:90%;
}

.pixel-font{
  font-family: 'Press Start 2P', cursive;
}

section{
  margin:20px auto;
}
.section-header{
  width:100%;
}

/* hide all of these sections by default */
#bios-wrapper, #foe-selection-wrapper{
  display:none;
}

/* character selection buttons */
.chars-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.continue-btn, .char-button{
  cursor:pointer;
  background-color: rosybrown;
  box-shadow:0px 5px black;
  margin: 10px;
  border-radius: 5px;
  border:none;
  font-size: 1.75rem;
  font-weight:500;
}
.continue-btn:active, .char-button:active {
  box-shadow: 0 3px black;
  transform: translateY(4px);
}
.char{
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
}
.char:hover{
  opacity:.9;
}
.char-pic{
  width:150px;
}
.char-name{
  display:inline-block;
  width:100px;
  margin:3px;
  bottom:0;
}

.story{
  font-family: 'Hanalei Fill', cursive;
}